@charset "UTF-8";

/* todas as midias */


/*typical device breakpoints
pequenas telas: ate 600px
 celular: de 600px ate 768px
 tablet: 768 até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200 px
 */


 /* impressora */
@media print {
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg); /*desnessesario*/
       
    }
    main {
        border:  2px solid black;
    }
    main::after{
        content: 'foi imprimido via github';
    }
    main h1 {
        text-shadow: none;
        color: black;
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#tv { display: none; }
    img#pc { display: none; }
}

/* tablet */
@media screen and (min-width: 768px) and  (max-width: 992px)
{
    body {
        background-image:  url(../imagens/back-tablet.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#tv { display: none; }
    img#pc { display: none; }
}
/* desktop */
@media screen and (min-width: 992px) and  (max-width: 1200px)
{
    body {
        background-image:  url(../imagens/back-pc.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#tv { display: none; }
    img#pc { display: block; }
}
/* telas grandes */
@media screen and (min-width: 1200px)
{
    body {
        background-image:  url(../imagens/back-tv.jpg);
    }
    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#tv { display: block; }
    img#pc { display: none; }
}
/* */